.menu {
  border-bottom: 1px solid #8a5637; /* Linha fina para separar o cabeçalho */
}
.navbar-nav .nav-link {
  font-weight: 650;
  transition: color 0.3s ease; /* Animação para o efeito de hover */
}
.navbar-nav .nav-link:hover {
  color: #c08553; /* Cor ao passar o mouse */
}
body {
  background: #F3E9DC;
}
/* animação hover nas skils */
i {
transition: transform 0.3s ease; /* Animação suave */
}

i:hover {
transform: scale(1.2); /* Aumenta 20% o tamanho */
}

/* cards de projetos */
.card:hover {
transform: scale(1.05); /* Aumenta um pouco o tamanho do card */
box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Sombra mais forte no hover */
}

a:hover {

transform: scale(1.1);  /* Aumenta o tamanho do link */
transition: all 0.3s ease;  /* Adiciona uma transição suave */
}


/* Estilo base */
body {
  background: #F3E9DC;
}

.conteudo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 80px;
  flex-wrap: wrap; /* Permite que os itens se ajustem em telas pequenas */
}

.textos {
  max-width: 600px; /* Limita o tamanho máximo do conteúdo de texto */
  margin-bottom: 500px;
}

/* efeito animado letras inicial */

/* Estilo do título */
h2 {
  font-family: 'Poppins', sans-serif; /* Usando uma fonte monoespaçada para o efeito de digitação */
  overflow: hidden; /* Esconde o conteúdo até a animação ser aplicada */
  white-space: nowrap; /* Impede que o texto quebre linha */
  border-right: .15em solid #8a5637; /* Adiciona o "cursor" */
  width: 0; /* Inicialmente o conteúdo está invisível */
  animation: typing 3s steps(30) 1s forwards, blinkCaret 0.75s step-end infinite; /* Define a animação */
}

/* Animação do efeito de digitação */
@keyframes typing {
  from {
    width: 0; /* Começa sem mostrar o texto */
  }
  to {
    width: 100%; /* Vai até 100% para mostrar o texto inteiro */
  }
}


/* Animação do cursor piscando, mas removendo ao final */
@keyframes blinkCaret {
  0% {
    border-color: transparent; /* O cursor começa visível */
  }
}

/* responsividade skills */
/* Layout para telas grandes (desktop ou notebook) */
.conteudo {
  display: flex;
  justify-content: space-between; /* Espaço entre a imagem e o texto */
  align-items: center; /* Alinha as divs verticalmente */
  margin: 80px; /* Espaçamento ao redor */
}

.textos {
  max-width: 600px;
  margin-bottom: 50px;
}

.imagem {
  text-align: center;
  width: 100%;
  max-width: 690px;
}

/* Responsividade para telas pequenas (smartphones) */
@media (max-width: 768px) {
  .conteudo {
    flex-direction: column; /* Empilha os elementos na vertical */
    align-items: center; /* Centraliza os itens */
    margin: 40px; /* Reduz a margem em telas pequenas */
  }

  .imagem {
    order: -1; /* Coloca a imagem acima do texto em telas pequenas */
    max-width: 100%; /* Garante que a imagem ocupe toda a largura disponível */
  }

  .textos {
    max-width: 100%; /* Garante que o texto ocupe toda a largura disponível */
  }
}